*{
    color: white;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #3f84c3;
}
form{
    width: 500px;
    height: 500px;
    border-radius: 10px;
background-color: white;
display: flex;
justify-content: flex-start;
align-items: center;
flex-direction: column;
background-color: #414c9b;
border:none;
}
input{
    width: 80%;
    height: 40px;
    border-radius: 4px;
    outline: none;
    background-color: #414c9b;
color: white;
border-right-style:none ;
border-left-style:none ;
border-top-style:none ;

}
textarea{
    width: 80%;
    height: 100px;
    outline: none;
    background-color: #414c9b;
color: white;
}
.btn-style{
    background-color: rgb(34, 34, 197);
    color: white;
    width: 80px;
    height: 30px;
    border-radius: 3px;
}
.btn-style:hover{
    opacity: 0.9;
    color: green;
}
input:hover, textarea:hover{
    border: 1px solid green;
}